@font-face {
    font-family: 'Roboto-Regular';
    src: url('./fonts/Roboto-Regular.ttf');
}

#navbarSupportedContent {
    margin: 0 auto;
}

.first__section {
    background: url('./images/first-section-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

.fs-title,
.fs-title1 {
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 46px;
}

.fs-title {
    color: #fff;
}

.fs-title1 {
    color: #000;
}

.fs-subtitle1 {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #a0a0a0;
}

.fs-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
}

.fs-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
    color: #fff;
}

.fs-btn1,
.ic__item button {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
}

.inspire__section {
    padding: 80px 0;
}

.is__card {
    display: flex;
    gap: 26px;
}

.carousel-item p {
    color: #a0a0a0;
}

.fs-btn1 span {
    background-color: black;
    height: 9.5px;
}

.fs-btn1 span:hover {
    background-color: #00f;
    transition: all .9s;
}

.office__section {
    background: url('./images/Rectangle-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

.garage__section {
    padding: 116px 0 38px 0;
}

.gs__block--left p {
    font-size: 16px;
}

.work__section {
    padding-bottom: 38px;
}

.ws__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ws__block--left p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.8px;
    max-width: 789px;
    width: 100%;
}

.ws__block--right {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    align-self: center;
}

.ws__cards {
    row-gap: 27px;
}

.wbr__item {
    display: flex;
    gap: 25px;
}

.join__section {
    padding: 86px 0 121px 0;
}

.design__section {
    padding-bottom: 39px;
}

.design__section .container {
    background: #9aa8b1;
    padding: 120px 0;
}

.design__section .container .col-lg-6 {
    gap: 24px;
}

.list-unstyled a {
    font-size: 22px;
}

.footer-block input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 320px;
}

.footer-block p {
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.footer__btn {
    position: fixed;
    display: none;
    background: #000;
    padding: 30px;
    bottom: 25%;
    right: 10%;
    height: 82px;
    width: 82px !important;
    z-index: 2;
}

.footer__btn:hover {
    background: #aaa;
    color: #000;
    transition: all .9s;
    border: 1px solid #000;
}

.footer__btn.active {
    display: inline-block;
}

.swiper {
    height: 550px;
}

.swiper-wrapper {
    bottom: -10%;
}

.swiper-pagination {
    bottom: unset !important;
    top: 0%;
}

@media(max-width:978px) {
    .office__section {
        margin-top: 40px;
    }
}

@media(max-width:321px) {
    .footer-block {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer-block p {
        width: 100%;
    }
}